.myExtendedNavBar{
    width:100%;
    height:77px;
}
.Card_Phone{
    color: rgb(87, 86, 86);
    font-size: 17px;
    font-weight: 500;
    position: relative;
    left: 51px;
}
.Card_Name{
    color: rgb(87, 86, 86);
    font-size: 14px;
    position: relative;
    left: 62px;
    bottom: 1px;
}
.Card_Label{
    color: rgb(158, 157, 157);
    font-size: 9px;
    position: relative;
    top: 15px;
    right: 77px;
}
.Link{
    text-decoration: none;
}
.recomendation_box{
    background-color: rgb(240, 239, 239);
    width: 348px;
    border: 1px solid lightgrey;
    border-radius: 3px 3px 30px 30px;
    padding: 22px;
    /* position: relative; */
    position: absolute;
    z-index: 1;
    left: 568px;
    top: 76px;
    /* margin: 47px 0px 0px 14px; */
    height: auto;
    box-shadow: 0px 3px 2px rgb(224, 223, 223);;
}
.searchBox{
    background-color: rgb(240, 239, 239);
    width: 387px;
    border: 1px solid lightgrey;
    border-radius: 26px;
    padding: 22px;
    position: relative;
    left: 550px;
    top: 29px;
    /* margin-left: 518px; */
    /* margin-top: 10px; */
}
.searchBox:hover{
    box-shadow: 0px 2px 2px rgb(224, 223, 223);
}
.searchInput{
    float: left;
    position: relative;
    /* left: 232px; */
    top: -58px;
    left: 5px;
    width: 291px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgb(238, 238, 238);
    background-color: transparent;
    font-size: 16px;
    color: rgb(116, 116, 116);
    font-weight: 400;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.searchInput:focus{
    outline: none;
}
.searchIcon{
    float: left;
    position: relative;
    /* left: 232px; */
    top: -52px;
    left: 25px;
}
.ul2{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ul2 li{
    float: left;
}
.ul2 li img{
    height: 68px;
    width: 90px;
    padding: 30px 0px 0px 50px;
}

.new_verticalbar{
    height: 30px;
    width: 2px;
    background-color: #A2A2A2;
    margin-top: 35px;
    margin-left: 18px;
}
.new_house_price{
    color: #3f6d96;
    font-weight:500;
    margin-top: 34px;
    margin-left: 18px;
}
.ul3{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    top: -39px;
    right: 34px;
    /* margin-right: 34px;*/
}
.ul3 li{
    display: inline;
    padding:6px;
}

.badge{
    height: 15px;
    width: 15px;
    position: relative;
    top: -14px;
    right: 12px;
    background-color: rgb(172, 75, 19);
    border-radius: 50%;
    display: inline-block;
    color: white;
}
.badge p{
    text-align: center;
    padding-bottom: -18px;
    position: relative;
    bottom: 2px;
    font-size: 12px;
}
.ul3_bellIcon{
    color:#8D8D8D;
    height:30px;
    width:30px;
}
.ul3_heartIcon{
    color:#8D8D8D;
    height:30px;
    width:30px;
    cursor: pointer;
}
.ul3_UserCircleIcon{
    color:#8D8D8D;
    height:30px;
    width:30px;
    cursor: pointer;
}
.PopOver{
    cursor: pointer;
}
/* ================================== */
.hover_content {
    display:none;
    position: absolute;
}
.ul3_User:hover .hover_content {
    background-color: #f1f0f0;
    margin-left: 10px;
    margin-top: 0px;
    height: 30px;
    width:70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display:block;
}
.logout_dropdown{
    color: #8D8D8D;
    font-size: 15px;
    font-weight: 450;
    padding-left: 8px;
    padding-top: 4px;
    cursor: pointer;
}